.app {
  background: #FFC8C8;
  color: #3E4149;
}

header {
  background: #FF9999;
}

h1 > a,
footer > a {
  color: #444F5A;
  font-family: 'Lexend Giga', sans-serif;
  font-size: 9vw;
}

nav {
  font-size: 4vw;
  font-family: 'Lexend Giga', sans-serif;
}

@media screen and (min-width: 768px) {
  h1 > a,
  footer > a {
    font-size: 4.5vw;
  }

  nav {
    font-size: 2vw;
  }
}

@media screen and (min-width: 1200px) {
  footer > a {
    font-size: 3vw;
  }

  nav {
    font-size: 2vw;
  }
}
