:root {
  --primary: #FFC8C8;
  --secondary: #FF9999;
  --tertiary: #444F5A;
  --quaternary: #3E4149;
  --title-font: 'Lexend Giga', sans-serif;
}

.app {
  background: var(--primary);
  color: var(--quaternary);
  font-size: 18px;
}

header {
  background: var(--secondary);
}

h1 > a,
footer > a {
  color: var(--tertiary);
  font-family: var(--title-font);
  font-size: 9vw;
}

h2 {
  text-align: center;
  font-family: var(--title-font);
  font-size: 8vw;
}

nav,
.nav-about {
  font-size: 5vw;
  font-family: var(--title-font);
  color: var(--tertiary);
}

.prj {
  position: relative;
}

.prj .prj-overlay {
  background: rgba(251, 222, 222, 0.7);
  position: absolute;
  /* fading initial value -> */
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  /* <- fading initial value */
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.prj:hover .prj-overlay {
  opacity: 1;
}

.prj-image {
  width: 100%;
  height: 65vw;
  object-fit: cover;
}

.prj-details {
  position: absolute;
}

.fadeIn {
  top: 5%;
}

h3 > a {
  font-size: 6.2vw;
  font-family: var(--title-font);
  color: var(--tertiary);
}

.prj-repo {
  font-size: 10vw;
}

.prj-tech {
  font-size: 4.5vw;
}

h3 {
  font-size: 6.5vw;
  font-family: var(--title-font);
}

button {
  background: #a1a3a9;
  border: 1px solid #7c7e84;
  border-radius: 7px;
  padding: 3px 10px;
}

button:hover {
  background: var(--secondary);
  border: 1px solid #fb7070;
  color: #4c1e1e;
}

@media screen and (min-width: 768px) {
  h1 > a,
  footer > a {
    font-size: 4.5vw;
  }

  nav,
  .nav-about {
    font-size: 2vw;
  }

  h2 {
    font-size: 3vw;
  }

  .prj-image  {
    height: 25vw;
  }

  h3 > a {
    font-size: 3vw;
    font-family: var(--title-font);
    color: var(--tertiary);
  }
  
  .prj-repo {
    font-size: 5vw;
  }
  
  .prj-tech {
    font-size: 1.8vw;
  }
}

@media screen and (min-width: 1200px) {
  h2,
  footer > a {
    font-size: 3vw;
  }

  nav,
  .nav-about {
    font-size: 2vw;
  }

  .app {
    font-size: 20px;
  }
}
