body {
  margin: 0;
  background: var(--primary);
  color: var(--quaternary);
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* @font-face {
  font-family: 'Lexend Giga';
  font-style: normal;
  font-weight: 400;
  src: local('Lexend Giga'), url('https://fonts.cdnfonts.com/s/29951/LexendGiga-Regular.woff') format('woff');
} */
